{% if method == "POST" or method == "PUT" %}

<div class="modal-header">
  <h4 class="modal-title">{{ modal_data["title"] }}</h4>
  <i type="button" class="close bx bx-x" data-dismiss="modal" style="font-weight: bold; font-size: 25px; caret-color: transparent;"></i>
</div>
<div class="modal-body">
  <p>{{ modal_data["body"] }}</p>

  <form id="modalForm">
    {{ forms.hidden_tag() }}
    {{ forms.csrf_token }}
    <div class="form-group">
      <label class="form-label" for="nome">Nome:</label>
      {{ forms.nome(class_="form-control") }}
    </div>
    <div class="form-group">
      <label class="form-label" for="preco">Preço:</label>
      {{ forms.preco(class_="form-control") }}
    </div>
    <div class="form-group">
      <label class="form-label" for="marca">Marca:</label>
      {{ forms.marca(class_="form-control") }}
    </div>
    <div class="form-group">
      <label class="form-label" for="local">Local:</label>
      {{ forms.local(class_="form-control") }}
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  {% if method == "POST" %}
    <button class="btn btn-success call-api" data-method="POST" data-dismiss="modal">Inserir</button>
  {% elif method == "PUT" %}
    <button class="btn btn-warning call-api" data-value="{{ value }}" data-method="PUT" data-dismiss="modal">Editar</button>
  {% endif %}
</div>

{% elif method == "DELETE" %}

<div class="modal-header">
  <h4 class="modal-title">{{ modal_data["title"] }}</h4>
  <i type="button" class="close bx bx-x" data-dismiss="modal" style="font-weight: bold; font-size: 25px; caret-color: transparent;"></i>
</div>
<div class="modal-body">
  <p>{{ modal_data["body"] }}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  <button data-value="{{ value }}" data-method="DELETE" class="btn btn-danger call-api" id="tbl-btn-delete"
    data-dismiss="modal">Remover</button>
</div>

{% else %}
<p>Chamada Inválida.</p>
{% endif %}