<!-- Pre-Loader -->
<script src="{{ url_for('static', filename='geral/inc/js/pre_loader.js') }}"></script> <!-- Todos precisam -->
<!-- Bootstrap JS, Popper.js, e jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script> <!-- Todos precisam -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script> <!-- Todos precisam -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Todos precisam -->
<!-- Aplicação -->
<script src="{{ url_for('static', filename='geraç/inc/js/app.js') }}"></script> <!-- Todos precisam -->
<script src="{{ url_for('static', filename='geral/inc/js/flash-messages.js') }}"></script> <!-- Todos precisam -->