<!-- Pre-Loader -->
<link rel="stylesheet" href="{{ url_for('static', filename='geral/inc/css/pre_loader.css') }}"> <!-- Todos precisam -->
<!-- Logotipo de Guia -->
<link rel="icon" href="{{ url_for('static', filename='geral/inc/icons/favicon/covabra.ico') }}" type="image/x-icon" /> <!-- Todos precisam -->
<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"> <!-- Todos precisam -->
<!-- Ícones -->
<link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'> <!-- Todos precisam -->
<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='geral/inc/css/app.css') }}"> <!-- Todos precisam -->
<link rel="stylesheet" href="{{ url_for('static', filename='geral/inc/css/flash-messages.css') }}"> <!-- Todos precisam -->