{% extends 'layouts/base.html' %}
{% block title %}Backups{% endblock %}
{% block head %}{% endblock %}

{% block content %}
<h1>Backups</h1>
<table id="data" class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Backup</th>
      <th>Tamanho</th>
      <th>Data de Criação</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
{% include "geral/inc/modal_base.html" %}
{% endblock %}

{% block scripts %}
<script>

  $(document).ready(function () {
    $('#data').DataTable({ // Carregar a tabela com AJAX
      ajax: '{{ url_for("backup.data_backup") }}',
      columnDefs: [{ "width": "12%", "targets": -1 }],
      columns: [
        { data: 'name' },
        { data: 'size' },
        { data: 'creation_time', render: DataTable.render.datetime('DD/MM/YYYY - HH:mm') },
        { data: null, orderable: false, render: renderButtons }
      ],
      language: language_pt_br,
      initComplete: function (settings, json) { // Função que executa após a requisição AJAX.
        // if ('is_createble' in json && json.is_createble) {
        // Adicionar botão de Novo Registro antes do seletor de linhas.
        $('.dataTables_length').prepend('<i data-value="0" data-method="POST" class="btn-tbl bi bi-plus-circle-fill modal-button" id="table-btn-create"><span>Novo Backup</span></i>');
        $('.dataTables_length').appendTo('#data_wrapper .dataTables_length');
        // }
      }
    });

    function renderButtons(data, type, row) { // Lógica para renderizar ou não os botões.
      var buttons = '';

      if (data.is_deletable) {
        buttons += '<i data-value="' + data.name + '" data-method="DELETE" class="btn-tbl bi-trash3-fill modal-button" id="table-btn-delete"></i>';
      }
      if (data.is_reviewed) { // Botão que não exige renderização, apenas executa regra de negócio.
        buttons += '<i data-value="' + data.name + '" data-method="XPTO" class="btn-tbl bi bi-arrow-up-square-fill call-api" id="table-btn-review"></i>';
      }
      return buttons;
    }
  });

  function modalChoice(method, value) { // Fazer com que os botões renderizem o modal desejado.
    $.ajax({
      url: '{{ url_for("backup.render_backup") }}?method=' + method + '&value=' + value,
      type: 'GET',
      success: function (data) {
        $('.modal-content').html(data);
        $('#modalBase').modal('show');
      }
    });
  }

  function submitAPI(method, value, data) { // Fazer com que os botões renderizem o modal desejado.
    $.ajax({
      url: '{{ url_for("backup.logic_backup") }}?method=' + method + '&value=' + value,
      type: 'POST',
      data: data,
      success: function () {
        $('#data').DataTable().ajax.reload();
      }
    });
  }

  $(document).on('click', '.modal-button', function () {
    var method = $(this).data('method') || '';
    var value = $(this).data('value') || 0;
    modalChoice(method, value);
  });

  $(document).on('click', '.call-api', function () {
    var method = $(this).data('method') || '';
    var value = $(this).data('value') || 0;
    var modalForm = $('#modalForm') || 0;
    if (modalForm.length != 0) {
      data = modalForm.serializeArray();  // Obter dados do formulário usando serializeArray do jQuery
    } else {
      data = [];
    }
    submitAPI(method, value, data);
    
    if (method === 'XPTO') {
      alert("Backup alternado com sucesso.");
    }

  });
</script>
{% endblock %}