/* Estilos para o link da página ativa dentro de um item de página */
.page-item.active .page-link {
    color: #ffffff !important; /* Cor do texto */
    background-color: #050313 !important; /* Cor de fundo */
    border-color: #000 !important;  /* Cor da borda */
}

/* Estilos padrão para os links das páginas */
.page-link {
    color: #ffffff !important; /* Cor do texto */
    background-color: #3d3d3d !important; /* Cor de fundo */
    border: 1px solid #000000 !important;  /* Cor da borda */
}

/* Estilos para os links das páginas quando passa o mouse por cima */
.page-link:hover {
    color: #fffbfb !important; /* Cor do texto */
    background-color: #1e1e1e !important; /* Cor de fundo */
    border-color: #000 !important;  /* Cor da borda */
}

/* Estilos para os botões de ação da tabela */
.btn-tbl {
    padding: 3px 5px;
    margin: 0px 2px;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.697); /* Sombra do texto */
    caret-color: transparent;
    background-color: #000000; /* Cor de fundo */
    border: 1px solid #131313; /* Cor da borda */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.697); /* Sombra */
    border-radius: 7px; /* Borda arredondada */
    cursor: pointer;
    display: inline-block;
}

/* Estilos para os ícones quando passa o mouse por cima */
.btn-tbl:hover {
    background-color: #050313; /* Cor de fundo */
    opacity: 0.7;
    color: rgb(253, 255, 240); /* Cor do texto */
    animation: pulse 0.5s infinite alternate; /* Animação pulsante */
}

/* Estilos específicos para o ícone de Novo Registro de tabela */
#table-btn-create {
    margin: 0px 15px 0px 0px;
    padding: 5px;
    font-size: 18px;
    font-style: normal;
}

#table-btn-create span {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 20px;
    color: white;
}

/* Cores dos ícones específicos */
.bi-plus-circle-fill {
    color: rgb(42, 255, 78);
}

.bi-pencil-fill {
    color: rgb(255, 196, 0);
}

.bi-trash3-fill {
    color: rgb(218, 30, 30);
}

.bi-arrow-up-square-fill {
    color: rgb(26, 66, 175);
}

/* Animação pulsante */
@keyframes pulse  {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.05);
    }
}