<!-- <p>modal_data["body"] </p> -->
<!-- 
  <form class="row g-4">
    <div class="col-md-4">
      <div class="form-outline" data-mdb-input-init>
        <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required />
        <label for="validationServer01" class="form-label">First name</label>
        <div class="valid-feedback">Looks good!</div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="form-outline" data-mdb-input-init>
        <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required />
        <label for="validationServer02" class="form-label">Last name</label>
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group form-outline" data-mdb-input-init>
        <span class="input-group-text" id="inputGroupPrepend3">@</span>
        <input
          type="text"
          class="form-control is-invalid"
          id="validationServerUsername"
          aria-describedby="inputGroupPrepend3"
          required
        />
        <label for="validationServerUsername" class="form-label">Username</label>
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-outline" data-mdb-input-init>
        <input type="text" class="form-control is-invalid" id="validationServer03" required />
        <label for="validationServer03" class="form-label">City</label>
        <div class="invalid-feedback">Please provide a valid city.</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-outline" data-mdb-input-init>
        <label for="validationServer05" class="form-label">Zip</label>
        <input type="text" class="form-control is-invalid" id="validationServer05" required />
        <div class="invalid-feedback">Please provide a valid zip.</div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <label class="form-check-label" for="invalidCheck3">Agree to terms and conditions</label>
        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required />
        <div class="invalid-feedback">You must agree before submitting.</div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" data-mdb-ripple-init>Submit form</button>
    </div>
  </form>
  <form class="needs-validation" method="POST" action="#" id="modalForm" autocomplete="off"> -->

<!-- 
    <div class="mb-3">
      <label class="form-label">Identificação do Cliente</label>
      <input name="nomeCliente" id="nomeCliente" type="text" class="form-control" placeholder="Nome Completo">
      <div class="form-text">Não se esqueça de anotar o ID do cliente no verso do cartão, <span
          style="color: chartreuse;">497</span>.</div>
    </div>

    <label class="form-label">Contato do Cliente</label>
    <div class="input-group gap-2">

        <input name="celularCliente" id="celularCliente" type="number" class="form-control custom-no-spinbox pb-0"placeholder="Celular">
        <span id="celularClienteFeedback" class="invalid-feedback">username can`t</span>
        <span id="celularClienteFeedback" class="valid-feedback">Looks Good</span>
      <input name="telefoneCliente" id="telefoneCliente" type="number" class="form-control custom-no-spinbox"
        placeholder="Telefone">
    </div>
</div>

<label class="form-label">Endereço do Cliente</label>
<div class="input-group gap-2">
  <input name="cepCliente" id="cepCliente" type="number" class="form-control custom-no-spinbox" placeholder="CEP">
  <input name="complementoCliente" id="complementoCliente" type="text" class="form-control" placeholder="Complemento">
</div>

<div class="input-group gap-2">
  <input name="estadoCliente" id="estadoCliente" type="text" class="form-control" placeholder="Estado">
  <input name="cidadeCliente" id="cidadeCliente" type="text" class="form-control" placeholder="Cidade">
</div>
<input name="bairroCliente" id="bairroCliente" type="text" class="form-control" placeholder="Bairro">
<div class="input-group gap-2">
  <input name="logradouroCliente" id="logradouroCliente" type="text" class="form-control" placeholder="Logradouro">
  <input name="numeroCliente" id="numeroCliente" type="number" class="form-control custom-no-spinbox"
    placeholder="Número">
</div> -->