{% if method == "POST" or method == "PUT" %}

<div class="modal-header">
  <h4 class="modal-title">{{ modal_data["title"] }}</h4>
  <i type="button" class="close bx bx-x" data-dismiss="modal" style="font-weight: bold; font-size: 25px; caret-color: transparent;"></i>
</div>
<div class="modal-body">
  <p>{{ modal_data["body"] }}</p>

  <form id="modalForm">
    {{ forms.hidden_tag() }}
    {{ forms.csrf_token }}
    <div class="form-group"> 
      <label class="form-label" for="nome">Nome:</label>
      {{ forms.nome(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="celular">Celular:</label>
      {{ forms.celular(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="telefone">Telefone:</label>
      {{ forms.telefone(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="email">E-mail:</label>
      {{ forms.email(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="cep">CEP:</label>
      {{ forms.cep(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="estado">Estado:</label>
      {{ forms.estado(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="cidade">Cidade:</label>
      {{ forms.cidade(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="bairro">Bairro:</label>
      {{ forms.bairro(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="rua">Rua:</label>
      {{ forms.rua(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="numero">Número:</label>
      {{ forms.numero(class_="form-control") }}
    </div>
    <div class="form-group"> 
      <label class="form-label" for="complemento">Complemento:</label>
      {{ forms.complemento(class_="form-control") }}
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  {% if method == "POST" %}
    <button class="btn btn-success call-api" data-method="POST" data-dismiss="modal">Inserir</button>
  {% elif method == "PUT" %}
    <button class="btn btn-warning call-api" data-value="{{ value }}" data-method="PUT" data-dismiss="modal">Editar</button>
  {% endif %}
</div>

{% elif method == "DELETE" %}

<div class="modal-header">
  <h4 class="modal-title">{{ modal_data["title"] }}</h4>
  <i type="button" class="close bx bx-x" data-dismiss="modal" style="font-weight: bold; font-size: 25px; caret-color: transparent;"></i>
</div>
<div class="modal-body">
  <p>{{ modal_data["body"] }}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
  <button data-value="{{ value }}" data-method="DELETE" class="btn btn-danger call-api" id="tbl-btn-delete" data-dismiss="modal">Remover</button>
</div>

{% elif method == "DETAIL" %}

<div class="modal-header">
  <h4 class="modal-title">{{ modal_data["title"] }}</h4>
  <i type="button" class="close bx bx-x" data-dismiss="modal" style="font-weight: bold; font-size: 25px; caret-color: transparent;"></i>
</div>
<div class="modal-body">
  <p>{{ modal_data["body"] }}</p>

<label>Nome</label>
<input type="text" class="form-control" value="{{ modal_data['nome'] }}" readonly>
<label>Data de Adesão</label>
<input type="text" class="form-control" value="{{ modal_data['data_adesao'] }}" readonly>
<label>Celular</label>
<input type="text" class="form-control" value="{{ modal_data['celular'] }}" readonly>
<label>CEP</label>
<input type="text" class="form-control" value="{{ modal_data['cep'] }}" readonly>
<label>Bairro</label>
<input type="text" class="form-control" value="{{ modal_data['bairro'] }}" readonly>
<label>Rua</label>
<input type="text" class="form-control" value="{{ modal_data['rua'] }}" readonly>
<label>Número</label>
<input type="text" class="form-control" value="{{ modal_data['numero'] }}" readonly>
<label>Cidade</label>
<input type="text" class="form-control" value="{{ modal_data['cidade'] }}" readonly>
<label>Estado</label>
<input type="text" class="form-control" value="{{ modal_data['estado'] }}" readonly>  
<label>Complemento</label>
<input type="text" class="form-control" value="{{ modal_data['complemento'] }}" readonly>  

</div>
<div class="modal-footer">
  <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
  <a href="https://api.whatsapp.com/send?phone={{ modal_data['celular'] }}&text=Ol%C3%A1,%20estou%20em%20nome%20do%20Tavellas%20Bikes!"><button class="btn btn-success"><i class="bi bi-whatsapp"></i> Whatsapp</button></a>
</div>

{% else %}
<p>Chamada Inválida.</p>
{% endif %}