body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
}

.banner, .buttons {
    width: 95%;
    padding-bottom: 5px;
}

.banner-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    /* height: 210px; */
    width: 100%;
    border-radius: 1.0em;
    gap: 1em;
    padding: 0em 2.0em 1.0em 2.0em;
    background: #007d62;
    background-image: url("/public/home/images/bike_background.svg");
    background-repeat: no-repeat;
    background-position: 100ch -8ch;
    background-size: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.122);
}

.banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(109, 7, 36);
    font-weight: 600;
}

.banner-text {
    flex: 1;
    gap: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-graphs {
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
}

.graph {
    display: flex;
    align-items: center;
    width: 16.0em;
    gap: 0.4em;
}

p,
h1,
h2,
h3,
h4,
h5,
span {
    padding: 0;
    margin: 0;
}

.graph .graph-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.0em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.362);
}

.graph .graph-icon i {
    font-size: 35px;
    /* color: black; */
}

.menus {
    height: 240px;
    display: flex;
    justify-content: space-between;
    gap: 0.98em;
    /* background-color: gray; */
}

.unique-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 255, 85, 0.431); */
}

.double-menu {
    width: 100%;
    height: 100%;
    gap: 0.8em;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 0, 0, 0.431); */
}

.unique-button {
    height: 100%;
    width: 100%;
    border-radius: 0.7em;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.122);
}

.double-button {
    height: 100%;
    width: 100%;
    border-radius: 0.7em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.122);
}

.dm-1 {
    background-color: #8c0e25;
}

.dm-2 {
    background-color: #e19d2a;
}

.dm-3 {
    background-color: #073a82;
}

.dm-4{
    background-color: #7c3b8a;
}

.u-1 {
    background-color: #030541;
}

.u-2 {
    background-color: #31363F;
}

.button-content {
    display: flex;
    align-items: center;
    /* background-color: white; */
    height: 100%;
    justify-content: center;
    width: 100%;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 45, 45); */
    height: 100%;
    width: 100%;
}

.button-icon  i {
    font-size: 70px;
    color: rgba(0, 0, 0, 0.5);
}

.menu-item-icon {
    margin-right: 15px;
    /* background-color: red; */
}

.menu-item-icon  i {
    font-size: 16px;
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}

.sub-menu-title {
    display: flex;
    justify-content: center;
}

.sub-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    gap: 0.7em;
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.0em;
}

.menu-item {
    gap: 0.4em;
    display: flex;
    background-color: rgba(0, 0, 0, 0.331);
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 90%;
    border-radius: 0.6em;
}

.item-wrapper {
    display: flex;
    margin: 0 auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 50%;
}

.menu-item-text {
    font-weight: 500;
}