{% extends 'layouts/base-auth.html' %}
{% block title %}Recuperação de Senha{% endblock %}
{% block head %}{% endblock %}

{% block content %}
  <div class="container main">
    <div class="row">
      <div class="col-6 p-0 m-0 side-image">
        <!-------------      image     ------------->
        <img src="{{ url_for('static', filename='auth/accounts/images/covabra-logo.png') }}" alt="">
        <!-- <div class="text"> -->
          <!-- <p><strong>Portal Covabra</strong></p> -->
        <!-- </div> -->
      </div>
      <div class="col-md-6 right">

        <div class="input-box">

          <header>Área de Recuperação</header>
          <div class="auth-text">
            <span>Por favor, forneça o endereço de e-mail associado à sua conta. O <strong>time do CIC</strong> enviará a você um Token de Recuperação.</span>
          </div>
          <form method="POST" action="{{ url_for('auth.forgot') }}">
          {{ form.hidden_tag() }}
          <div class="input-field">
            {{ form.email(class_="input", id_="email", required_="", autocomplete_="off") }}
            <label for="email">E-mail</label>
          </div>
          <div class="input-field">
            {{ form.submit(class_="submit", value="Validar") }}
          </div>
          <div class="auth-text">
            <span>Já tem uma conta? <a href="{{ url_for('auth.login') }}">Entre</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}